
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  .tweet {
    margin: 2px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .our-team .picture {
        float: left;
        margin-left: 10%;
  }
  
  .our-team .title {
      margin-left: 10%;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  