
a, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
  }
  .container {
    position: relative;
      width: 100%;
    height: 100%;
    
    background: rgba(154,57,163,1);
    background: -moz-linear-gradient(-45deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(154,57,163,1)), color-stop(100%, rgba(65,103,168,1)));
    background: -webkit-linear-gradient(-45deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%);
    background: linear-gradient(135deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a39a3', endColorstr='#4167a8', GradientType=1 );
  }
  h1 {
    display: block;
    margin: 0 auto 25px auto;
    text-align: center;
    font-size: 1.92em;
    font-weight: 600;
    letter-spacing: -0.055em;
   padding-top: 3%;
  }
  h2 {
    display: block;
    margin: 0 auto 60px auto;
    text-align: center;
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: -0.015em;
    padding-bottom: 3% ;
  }
   